.information-panel {
  .logo-black {
    top: -25px;
    position: relative;

    width: 35%;
    margin-bottom: -10rem;
  }

  p {
    top: 60px;
    text-align: center;
    position: relative;
  }
}
